/Alimentation.class
/Animal.class
/AnimalCompagnie.class
/AnimalProducteur.class
/CanardLune.class
/Chameau.class
/Chat.class
/Chevre.class
/Chien.class
/Mouton.class
/Poisson.class
/Poule.class
/Tradigarde.class
/Vache.class
